@font-face {
  font-family: "Crouwd";
  src: url("../font/PUCCrouwd-Regular.woff2") format("woff2"),
       url("../font/PUCCrouwd-Regular.woff") format("woff");
}

@font-face {
  font-family: "CrouwdM";
  src: url("../font/PUCCrouwd-Medium.woff2") format("woff2"),
       url("../font/PUCCrouwd-Medium.woff") format("woff");
}

@font-face {
  font-family: "CrouwdO";
  src: url("../font/PUCCrouwd-Oblique.woff2") format("woff2"),
       url("../font/PUCCrouwd-Oblique.woff") format("woff");
}

@font-face {
  font-family: "CrouwdMO";
  src: url("../font/PUCCrouwd-MediumOblique.woff2") format("woff2"),
       url("../font/PUCCrouwd-MediumOblique.woff") format("woff");
}

::placeholder {
  color:#000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:#000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color:#000;
}

textarea:focus, input:focus{
  outline: none;
}

.wrap{
  width: 100%;
  height: auto;
}

.font-tester{
  font-family: "Crouwd";
  font-size: 49px;
  width: 63vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-size-num{
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
}

.font-tester-2{
  font-family: "CrouwdM";
  font-size: 49px;
  width: 63vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-size-num-2{
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
}

.font-tester-3{
  font-family: "CrouwdO";
  font-size: 49px;
  width: 63vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-size-num-4{
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
}

.font-tester-4{
  font-family: "CrouwdMO";
  font-size: 49px;
  width: 63vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-size-num-3{
  font-family: Arial, Helvetica, sans-serif;
  width: max-content;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 1px;
  background: black;
  outline: none;
  opacity: 0.3;
  -webkit-transition: .3s;
  transition: opacity .3s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: arrow;
  width: 20px;
  height: 20px;
  background: white;
  border: solid 1px #000;
  cursor: pointer;
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: black;
  cursor: pointer;
  border-radius: 50%;
}

span{ 
  display: inline-block;
}

p.font-tester-ui{
  display: inline-block;
}

@media screen and (max-width: 870px) {
.font-tester{
  font-family: "Crouwd";
  font-size: 49px;
  width: 90vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-tester-2{
  font-family: "CrouwdM";
  font-size: 49px;
  width: 90vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-tester-3{
  font-family: "CrouwdO";
  font-size: 49px;
  width: 90vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}

.font-tester-4{
  font-family: "CrouwdMO";
  font-size: 49px;
  width: 90vw;
  display: block;
  line-height: 0.85em;
  letter-spacing: -0.85;
  color: black;
  border: hidden;
}
}